.pokemon-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.pokemon-modal-content {
  background: #ccf7d5;
  padding: 3rem;
  border-radius: 12px;
  width: 90%;
  max-width: 420px;
  text-align: center;
}

.modal-img {
  width: 150px;
  height: auto;
  margin-bottom: 1rem;
}

.close-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: -40px;
  right: 19px;
  border: none;
  background:transparent;
  font-size: 2rem;
  cursor: pointer;
}
