/* .poke__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}
.poke__navbar-links{
    flex:1;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.poke__navbar-links_logo{
    margin-right: 2rem;
}
.poke__navbar-links_logo img{
    height: 16.02px;
    width:62.56px;
}
.poke__navbar-links_container{
    display: flex;
    flex-direction: row;
}*/
/* .poke__navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */
/*
.poke__navbar-links_container p, .poke__navbar-sign p, .poke__navbar-menu_container p{
    color: #fff;
    font-family:var(--font-family);
    font-weight: 500;
    font-size:18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}
.poke__navbar-sign button, .poke__navbar-menu_container button{
    padding: 0.5rem 1rem;
    color:#fff;
    background:#FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size:18px;
    line-height: 25px;
    border-radius: 5px;
    border:0;
    outline: none;
    cursor:pointer;
}
.poke__navbar-menu{
    margin-left: 1rem;
    display: none;
    position: relative;

}
.poke__navbar-menu svg{
    cursor: pointer;
}
.poke__navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position:absolute;
    top:40px;
    right:0;
    margin-top:1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);
}
.poke__navbar-menu_container p{
    margin: 1rem 0;
}
.poke__navbar-menu_container-links-sign{
    display: none;
} */



/* @media screen and (max-width: 550px){
     .poke__navbar-links_container{
        display: none;
    }
    /*
    .poke__navbar-menu{
        display: flex;
    } 
    .NAVBAR{
        /* width:100vw;
        display: flex;
        flex-direction: row;
        color: black; 
        display: none;
    }*/

/* @media screen and (max-width: 700px){
    .poke__navbar{
        padding: 2rem 4rem;
    }
} */
/* @media screen and (max-width: 550px){
    .poke__navbar{
        padding: 2rem;
    }
    .poke__navbar-sign{
        display: none;
    }
    .poke__navbar-menu_container{
        top:20px;
    }
    .poke__navbar-menu_container-links-sign{
        display: block;
    }
} */


.NAVBAR{
    display: none;
}
.poke__navbar-menu{
    margin-left: auto;
    display: none;
    position: relative;
}
@media screen and (max-width: 950px){

    .NAVBAR{
        width: 100vw;
        display: flex;
    }

    .poke__navbar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }

    .poke__navbar-menu{
        flex-direction: column;
        display: flex;
        margin-left: auto;
        align-items: flex-end;
    }
}
.poke__navbar-menu svg{
    cursor: pointer;
    color:black;
}

.poke__navbar-menu_container a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
}
.poke__navbar-menu-container-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
 .poke__navbar-menu_container a:hover {
    color: white;
    padding-left: 5px;
    font-size: 1.6rem;
    padding:0.7rem 0.4rem;
    transition: 0.1s ease;
    background-color: orange;
    border-radius: 5px;
}



